extend layout


block content
    h3 Галерея
    .div-galary
      ul.ul-galary
        li
         a(href='#')
          img(src='media/galary/img1.jpeg', alt='', width='158', height='139')
          span.galary.galary
           em Название
        li
         a(href='#')
          img(src='media/galary/img2.jpeg', alt='', width='158', height='139')
          span.galary
           em
            | Очень длинное название книги, которое не вмещается в одну строчку и обрезается многоточием
        li
         a(href='#')
          img(src='media/galary/img3.jpeg', alt='', width='158', height='139')
          span.galary
           em
            | Длинное название книги, которое не вмещается в одну строчку и обрезается многоточием
        li
         a(href='#')
          img(src='media/galary/img4.jpeg', alt='', width='158', height='139')
          span.galary
           em Еще одно название книги
        li
         a(href='#')
          img(src='media/galary/img5.jpeg', alt='', width='158', height='139')
          span.galary
           em Предпоследний товар в списке
        li
         a(href='#')
          img(src='media/galary/img6.jpeg', alt='', width='158', height='139')
          span.galary
           em Последний товар в списке
        li
         a(href='#')
          img(src='media/galary/img1.jpeg', alt='', width='158', height='139')
          span.galary
           em Название книги
        li
         a(href='#')
          img(src='media/galary/img2.jpeg', alt='', width='158', height='139')
          span.galary
           em
            | Очень длинное название книги, которое не вмещается в одну строчку и обрезается многоточием