.flogin {
    /*    margin-left: 43%;
        margin-right: 36%;
    */

    text-align: center;
    height: 150px;
    /*width: 180px;
    border: solid 1px;*/


}
.submitbtn {
    /*border: solid 1px;*/
    text-align: center;
}